* {
  padding: 0;
  margin: 0;
}

.mobileNavContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  box-shadow: 0px -1px 5px #888;
}

.mobileNav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  z-index: 99;
  background: #fff;
  box-shadow: 0px -1px 5px #888;
}

ul {
  display: flex;
  list-style: none;
  color: #111;
  font-weight: 500;
}

li {
  padding: 20px;
  cursor: pointer;
}

.topBar {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #888;
  /* background-color: #206fc9; */
}

.logo {
  box-shadow: 0px 0px 1px #888, 0px 0px 2px #888;
  padding: 10px;
  border-radius: 5px;
}

input {
  padding: 10px 10px;
  outline: none;
  box-shadow: 0px 0px 1px #888, 0px 0px 2px #888;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

.searchBtn {
  padding: 10px;
  width: 60px;
  border: none;
  box-shadow: 0px 0px 1px #888, 0px 0px 2px #888;
  background-color: #fff;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
}

.songContainer {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  margin: 20px;
}

.song {
  max-width: 250px;
  min-height: 220px;
  max-height: 220px;
  /* background-color: rgb(218, 216, 216); */
  padding: 2px;
  cursor: pointer;
  position: relative;
}

img {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  object-fit: cover;
}

@media (min-width: 764px) {
  .topBar {
    padding: 20px 70px;
  }

  input {
    margin: 0 20px;
    font-size: 14px;
    width: 250px;
  }

  .songContainer {
    margin: 20px 70px;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 1024px) {
  .topBar {
    padding: 20px 150px;
  }
  input {
    margin: 0 20px;
    font-size: 14px;
    width: 350px;
  }
  .songContainer {
    margin: 20px 150px;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}
